# Configuration MongoDB Atlas
# Configuration MongoDB Atlas
EXPO_PUBLIC_MONGODB_URI=mongodb+srv://jalibatoul07_db_user:eQmncAFhhF4H6YKr@cluster0.aheqai2.mongodb.net/TerangaAuto?retryWrites=true&w=majority

# Configuration d'authentification
EXPO_PUBLIC_USE_MOCK_AUTH=false
EXPO_PUBLIC_MOCK_USER_TYPE=mechanic

# Configuration du serveur
PORT=3000
NODE_ENV=development

# Clé secrète pour les JWT (à changer en production)
JWT_SECRET=monsecret123

# Configuration du client (si nécessaire)
NEXT_PUBLIC_API_URL=http://localhost:3000/api