# Configuration d'authentification
EXPO_PUBLIC_USE_MOCK_AUTH=false
EXPO_PUBLIC_MOCK_USER_TYPE=mechanic

# URL de redirection pour l'authentification OAuth (optionnel)
# EXPO_PUBLIC_SUPABASE_REDIRECT_URL=your-redirect-url-here

# Configuration Supabase (à remplir avec vos propres informations)
EXPO_PUBLIC_SUPABASE_URL=your-supabase-url
EXPO_PUBLIC_SUPABASE_ANON_KEY=your-supabase-anon-key
